<div class="flex-rgic !gap-x-4">
    <img class="h-4" src="../../../../assets/networks/ethereum.svg" alt="" srcset="">
    <img class="h-4" src="../../../../assets/networks/optimism.svg" alt="" srcset="">
    <img class="h-4" src="../../../../assets/networks/polygon.svg" alt="" srcset="">
    <img class="h-4" src="../../../../assets/networks/avalanche.svg" alt="" srcset="">
    <img class="h-4" src="../../../../assets/networks/optimism.svg" alt="" srcset="">
    <img class="h-4" src="../../../../assets/networks/arbitrum.svg" alt="" srcset="">
    <img class="h-4" src="../../../../assets/networks/base.svg" alt="" srcset="">
</div>