<div class="grid grid-cols-7 !gap-4 mt-2">
    <div class="flex card-body flex-col justify-center items-center gap-y-2 p-4 text-xs uppercase rounded-md border">
        <img class="h-6" src="../../../../assets/networks/ethereum.svg" alt="" srcset="">    
        <div>Ethereum</div>
    </div>

    <div class="flex card-body flex-col justify-center items-center gap-y-2 p-4 text-xs uppercase rounded-md border">
        <img class="h-6" src="../../../../assets/networks/optimism.svg" alt="" srcset="">    
        <div>Optimism</div>
    </div>

    <div class="flex card-body flex-col justify-center items-center gap-y-2 p-4 text-xs uppercase rounded-md border">
        <img class="h-6" src="../../../../assets/networks/matic.svg" alt="" srcset="">    
        <div>Polygon</div>
    </div>

    <div class="flex card-body flex-col justify-center items-center gap-y-2 p-4 text-xs uppercase rounded-md border">
        <img class="h-6" src="../../../../assets/networks/avalanche.svg" alt="" srcset="">    
        <div>Avalanche</div>
    </div>

    <div class="flex card-body flex-col justify-center items-center gap-y-2 p-4 text-xs uppercase rounded-md border">
        <img class="h-6" src="../../../../assets/networks/arbitrum.svg" alt="" srcset="">   
        <div>Arbitrum</div> 
    </div>

    <div class="flex card-body flex-col justify-center items-center gap-y-2 p-4 text-xs uppercase rounded-md border">
        <img class="h-6" src="../../../../assets/networks/base.svg" alt="" srcset="">    
        <div>Base</div>
    </div>

    <div class="flex card-body flex-col justify-center items-center gap-y-2 p-4 text-xs uppercase rounded-md border">
        <img class="h-6" src="../../../../assets/networks/bsc.svg" alt="" srcset="">    
        <div>BSC</div>
    </div>

</div>