<div class="w-screen py-2 z-10 bg-[rgba(255,255,255,0.4)] backdrop-blur-[2px] border-b border-rose-100 flex flex-row justify-center fixed top-0 left-0">
    <div class="max-w-5xl py-4 rounded-md w-full flex flex-row justify-between items-center">
        <div>
            <img routerLink="/" class="h-6 cursor-pointer" src="../../assets/klstr.png" alt="" srcset="">
        </div>
        <div class="flex flex-row items-center gap-x-2 text-xs text-slate-500">
            <img class="h-3" src="../../assets/link.png" alt="" srcset="">
            <div>
                Built on Chainlink CCIP
            </div>
        </div>
    </div>
</div>
<div class="w-screen fixed top-[4.6rem] left-0 text-[10px] text-white z-10
 font-medium flex flex-row justify-center items-center py-1 bg-rose-700">
    <div>
        This app is using the beta version of the Klaster protocol. Proceed with caution.
    </div>
</div>