<div class="w-full h-full card-body flex flex-col gap-y-2">

    <h1 class="card-header-title flex flex-row gap-x-2 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 text-rose-700">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z" />
          </svg>
          
        Choose your wallet type
    </h1>
    
    <p class="text-slate-500 text-sm">
        In this step, please select the type of contract for which you will be calculating its cross-chain address. This will give us useful feedback, as well as
        allow our app to customize your user experience.
    </p>

    <div class="w-full grid lg:grid-cols-2 mt-4 gap-4">

        <!-- SAFE -->
        <div class="card-body flex flex-col justify-between items-center text-slate-700">
            <div class="flex flex-col gap-y-3">
                <div class="h-8">
                    <img class="h-8" src="../../assets/safelogo.png" alt="" srcset="">    
                  </div>
                  <h2 class="font-bold uppercase">
                      (Gnosis) Safe
                  </h2>
                  <p class="text-slate-500 text-sm">
                      Enable your Safe to send / receive assets (ERC20 Tokens, NFTs, ...) & execute transactions on remote blockchains. <br> <br>
                      Useful for treasuries wanting to manage assets on many chains, while updating the multisig structure on only one.
                  </p>
            </div>

            <div class="h-8"></div>
            

            <button (click)="selectClicked('SAFE')"
                 class="select-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                  </svg>
                <div>
                    Select
                </div>                  
            </button>
        </div>

        <!-- DAO -->
        <!-- <div class="card-body flex flex-col justify-between text-slate-700">
            <div class="flex flex-col gap-y-3">
                <div class="text-rose-700">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
                        <path fill-rule="evenodd" d="M8.25 6.75a3.75 3.75 0 117.5 0 3.75 3.75 0 01-7.5 0zM15.75 9.75a3 3 0 116 0 3 3 0 01-6 0zM2.25 9.75a3 3 0 116 0 3 3 0 01-6 0zM6.31 15.117A6.745 6.745 0 0112 12a6.745 6.745 0 016.709 7.498.75.75 0 01-.372.568A12.696 12.696 0 0112 21.75c-2.305 0-4.47-.612-6.337-1.684a.75.75 0 01-.372-.568 6.787 6.787 0 011.019-4.38z" clip-rule="evenodd" />
                        <path d="M5.082 14.254a8.287 8.287 0 00-1.308 5.135 9.687 9.687 0 01-1.764-.44l-.115-.04a.563.563 0 01-.373-.487l-.01-.121a3.75 3.75 0 013.57-4.047zM20.226 19.389a8.287 8.287 0 00-1.308-5.135 3.75 3.75 0 013.57 4.047l-.01.121a.563.563 0 01-.373.486l-.115.04c-.567.2-1.156.349-1.764.441z" />
                      </svg>
                         
                </div>
                <h2 class="font-bold uppercase">
                    DAO
                </h2>
                <p class="text-slate-500 text-sm">
                    Give your DAO the ability to send & receive assets on multiple blockchains & perform cross-chain governance. <br><br>
                    Useful for DAOs who want governance from one chain to be able to execute transactions on other chains.
                </p>
            </div>
            <div class="h-8"></div>
            <button (click)="selectClicked('DAO')"
                class="select-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                  </svg>
                <div>
                    Select
                </div>                  
            </button>
        </div> -->

         <!-- Other -->
         <div class="card-body flex flex-col justify-between text-slate-700">
            <div class="flex flex-col gap-y-3">
                <div class="text-fuchsia-700">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
                        <path d="M12.378 1.602a.75.75 0 00-.756 0L3 6.632l9 5.25 9-5.25-8.622-5.03zM21.75 7.93l-9 5.25v9l8.628-5.032a.75.75 0 00.372-.648V7.93zM11.25 22.18v-9l-9-5.25v8.57a.75.75 0 00.372.648l8.628 5.033z" />
                      </svg>
                      
                         
                </div>
                <h2 class="font-bold uppercase">
                    Other
                </h2>
                <p class="text-slate-500 text-sm">
                    Klaster cross-chain accounts work with any MutliSig, Smart Contract Wallet & even with generic EVM 
                    smart contracts. <br><br>
                    Getting a cross-chain address is the easiest way to add cross-chain functionality to your dApp or Wallet.
                </p>
            </div>
            <div class="h-8"></div>
            <button (click)="selectClicked('OTHER')"
                class="select-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                    <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                  </svg>
                <div>
                    Select
                </div>                  
            </button>
        </div>
    </div>



</div>