<div class="rounded-md" [class.-mx-6]="sendFormToggled$ | async"
[class.my-3]="sendFormToggled$ | async"
[class.p-2]="sendFormToggled$ | async"
[class.bg-white]="sendFormToggled$ | async"
[class.my-2]="sendFormToggled$ | async"
[class.border]="sendFormToggled$ | async">

<div class="grid relative grid-cols-12 px-2 py-2 items-center text-sm">
    <div class="col-span-4 flex flex-row items-center">
        <img class="h-9 w-9 bg-white p-2 rounded-full border" 
        src="../../../../assets/networks/{{logoUri}}" alt="" srcset="">
        <div class="col-span-3 flex flex-col pl-4">
            <div class="text-base font-medium">
                {{displayBalance}}
            </div>
            <div class="font-medium flex flex-col gap-y-2 -mt-1 text-slate-500">
                <div>{{token}}</div>
            </div>
        </div>
    </div>
    <div class="uppercase text-xs font-semibold col-span-6 text-slate-800">
        Native
    </div> 
    
    
    <div *ngIf="(sendFormToggled$ | async) === false" class="col-span-2 flex flex-row justify-end">
        <button (click)="toggleSendForm()" class="px-4 rounded-md border py-2 text-xs font-semibold uppercase flex flex-row items-center justify-center
             text-rose-600 border-rose-100 gap-x-2 hover:border-transparent transition-all
            hover:bg-rose-600 hover:text-white">
        
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 -mt-[0.06rem]">
            <path d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z" />
            </svg>

            <div>
            Send
            </div>
        
        </button>
    </div>

    <div class="col-span-2 w-full flex flex-row justify-end">
        <div *ngIf="(sendFormToggled$ | async)" class="col-span-2 flex flex-row justify-end">
            <button (click)="toggleSendForm()" class="px-4 rounded-md border py-2 text-xs font-semibold flex flex-row items-center justify-center
                uppercase text-rose-600 border-slate-100 gap-x-2 hover:border-transparent transition-all
                hover:bg-rose-600 hover:text-white">
            
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4 -mt-[0.06rem]">
                <path d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z" />
                </svg>
    
                <div>
                Cancel
                </div>
            
            </button>
        </div>
    </div>
    
    
</div>

<div *ngIf="sendFormToggled$ | async" 
    [class.mb-4]="sendFormToggled$ | async"
    class="mx-2 bg-white rounded-md mt-4 gap-x-4 items-center grid grid-cols-10">


    <div class="col-span-5 h-full">
        <div class="flex flex-row gap-x-2 border items-center h-full px-2 rounded-md">
            <img class="h-7 w-7 p-[0.35rem] border rounded-full" src="../../../../../assets/networks/{{getNetoworkLogo(chainId)}}" alt="" srcset="">
            <input [formControl]="recipientAddressForm" placeholder="Recipient address" 
                class="w-full !outline-none border-l text-xs py-3 pr-1 pl-2 font-mono !tracking-normal" type="text">
        </div>
    </div>
    <div class="col-span-4 font-mono h-full">
        <div class="flex h-full flex-row gap-x-2 rounded-md border pr-3 pl-2 items-center">
            <input [formControl]="sendAmountForm" placeholder="Amount" class="w-full !outline-none py-3 px-2 text-xs " type="text">
            <img class="h-7 w-7 p-[0.35rem] border rounded-full" src="../../../../../assets/networks/{{logoUri}}" alt="" srcset="">
            <div class="text-xs font-semibold">
                {{token}}
            </div>
        </div>
    </div>
    <div class="h-full py-[0.08rem]">
        <button (click)="openNativeTransactionSend()" [disabled]="!recipientAddressForm.valid" class="w-full h-full flex flex-row items-center justify-center transition-all cursor-pointer rounded-md app-button text-white">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                <path d="M3.478 2.405a.75.75 0 00-.926.94l2.432 7.905H13.5a.75.75 0 010 1.5H4.984l-2.432 7.905a.75.75 0 00.926.94 60.519 60.519 0 0018.445-8.986.75.75 0 000-1.218A60.517 60.517 0 003.478 2.405z" />
              </svg>              
        </button>
    </div>

    
</div>

</div>
