<div *ngIf="address$ | async" class="card-body">
  <div
    class="text-xs"
    *ngIf="walletActivityDisplay$ | async as activity; else loading"
  >
    <div
      class="mb-4 flex flex-row justify-between text-xs font-semibold uppercase text-slate-800"
    >
      <div>Klaster Transactions</div>
      <div class="cursor-pointer" (click)="refresh()">
        <svg
          [class.animate-spin]="isRefreshing$ | async"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-5 w-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99"
          />
        </svg>
      </div>
    </div>
    <!-- <div
      class="-mx-4 mb-2 flex flex-row items-center gap-x-3 rounded-md bg-indigo-50 px-4 py-4 text-xs text-indigo-600"
    >
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          data-slot="icon"
          class="h-5 w-5"
        >
          <path
            fill-rule="evenodd"
            d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z"
            clip-rule="evenodd"
          />
        </svg>
      </div>

      <div>
        It takes 20-40 minutes for cross-chain transactions to be processed.
      </div>
    </div> -->

    <ng-container *ngIf="(isRefreshing$ | async) === false; else loading">
      <div
        class="mb-2 border-b border-slate-100 py-1"
        *ngFor="let response of activity; let i = index"
      >
        <div class="grid w-full grid-cols-10 gap-x-4">

          <div
            class="col-span-4 flex flex-row items-center justify-start text-xs font-semibold uppercase text-slate-800"
          >
            <ng-container *ngIf="response.tx_type === 'WALLET_CREATE'">
              Deploy
            </ng-container>
            <ng-container *ngIf="response.tx_type === 'ERC20_TRANSFER'">
              ERC20 Send
            </ng-container>
            <ng-container *ngIf="response.tx_type === 'NATIVE_TRANSFER'">
              Native Send
            </ng-container>
            <ng-container *ngIf="response.tx_type === 'OTHER'">
              Other
            </ng-container>
          </div>

          <div
            *ngIf="getChainInfo(response.chain_id.toString()) as chainInfo"
            class="col-span-4 flex flex-row items-center justify-center gap-x-2"
          >

            
            <div *ngFor="let selector of response.chainlink_chain_selectors">
              <div *ngIf="getChainInfoBySelector(selector) as chain">
                <img
                  class="h-4"
                  src="../../../../assets/networks/{{ chain.logoUri }}"
                  alt=""
                  srcset=""
                />
              </div>
            </div>
          </div>

          <a
            target="_blank"
            href="https://ccip.chain.link/tx/{{ response.tx_hash }}"
            class="col-span-2 flex flex-row items-center justify-end rounded-md py-2 font-medium uppercase text-slate-600 underline hover:text-slate-900"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="h-5 w-5"
            >
              <path
                fill-rule="evenodd"
                d="M15.75 2.25H21a.75.75 0 01.75.75v5.25a.75.75 0 01-1.5 0V4.81L8.03 17.03a.75.75 0 01-1.06-1.06L19.19 3.75h-3.44a.75.75 0 010-1.5zm-10.5 4.5a1.5 1.5 0 00-1.5 1.5v10.5a1.5 1.5 0 001.5 1.5h10.5a1.5 1.5 0 001.5-1.5V10.5a.75.75 0 011.5 0v8.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V8.25a3 3 0 013-3h8.25a.75.75 0 010 1.5H5.25z"
                clip-rule="evenodd"
              />
            </svg>
          </a>
        </div>
      </div>
    </ng-container>

    <div
      (click)="toggleSeeAllVisible()"
      class="mt-4 flex w-full cursor-pointer flex-row items-center justify-center text-xs font-semibold uppercase underline"
    >
      See all
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="my-8">
    <app-spinner></app-spinner>
  </div>
</ng-template>

<div
  *ngIf="isSeeAllVisible$ | async"
  class="fixed left-0 top-0 z-50 flex h-screen w-screen flex-row items-center justify-center bg-[rgba(255,255,255,0.4)] backdrop-blur-[2px]"
>
  <div
    class="w-full max-w-2xl rounded-md border bg-white p-8 text-sm text-slate-800"
  >
    <div *ngIf="walletActivity$ | async as allActivity; else loading">
      <div class="mb-5 flex w-full flex-row justify-between font-semibold">
        <div class="text-sm uppercase">Klaster Transactions</div>
        <div
          class="cursor-pointer hover:text-rose-600"
          (click)="toggleSeeAllVisible()"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="h-6 w-6"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>

      <div
        class="mb-3 grid w-full grid-cols-11 items-center gap-x-4 text-xs font-semibold uppercase text-slate-800"
      >
        <div class="col-span-3">Tx Hash</div>
        <div class="col-span-3">Tx Type</div>
        <div class="col-span-4">Chains</div>
        <div class="col-span-1">
          <!-- Placeholder -->
        </div>
      </div>

      <div class="max-h-96 overflow-y-auto">
        <div
          class="mb-2 border-b border-slate-100 py-2"
          *ngFor="let response of allActivity"
        >
          <div class="grid w-full grid-cols-11 items-center gap-x-4">
            <div class="col-span-3">
              {{ response.tx_hash | shorten: 5 : 3 }}
            </div>

            <div
              class="col-span-3 flex flex-row items-center justify-start text-xs font-semibold uppercase text-slate-800"
            >
              <ng-container *ngIf="response.tx_type === 'WALLET_CREATE'">
                Deploy
              </ng-container>
              <ng-container *ngIf="response.tx_type === 'ERC20_TRANSFER'">
                ERC20 Send
              </ng-container>
              <ng-container *ngIf="response.tx_type === 'NATIVE_TRANSFER'">
                Native Send
              </ng-container>
              <ng-container *ngIf="response.tx_type === 'OTHER'">
                Other
              </ng-container>
            </div>

            <div
              *ngIf="getChainInfo(response.chain_id.toString()) as chainInfo"
              class="col-span-4 flex flex-row items-center justify-start gap-x-2"
            >


              <div *ngFor="let selector of response.chainlink_chain_selectors">
                <div *ngIf="getChainInfoBySelector(selector) as chain">
                  <img
                    class="h-4"
                    src="../../../../assets/networks/{{ chain.logoUri }}"
                    alt=""
                    srcset=""
                  />
                </div>
              </div>
            </div>

            <a
              target="_blank"
              href="https://ccip.chain.link/tx/{{ response.tx_hash }}"
              class="col-span-1 flex flex-row items-center justify-end rounded-md py-2 font-medium uppercase text-slate-600 underline hover:text-slate-900"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="h-5 w-5"
              >
                <path
                  fill-rule="evenodd"
                  d="M15.75 2.25H21a.75.75 0 01.75.75v5.25a.75.75 0 01-1.5 0V4.81L8.03 17.03a.75.75 0 01-1.06-1.06L19.19 3.75h-3.44a.75.75 0 010-1.5zm-10.5 4.5a1.5 1.5 0 00-1.5 1.5v10.5a1.5 1.5 0 001.5 1.5h10.5a1.5 1.5 0 001.5-1.5V10.5a.75.75 0 011.5 0v8.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V8.25a3 3 0 013-3h8.25a.75.75 0 010 1.5H5.25z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
