<div class="w-full h-full mt-24 flex flex-col gap-y-4">
    <div class="card-body">

    </div>

    <div class="card-body">
        <h1 class="card-header-title mb-4">
            Imported contracts
        </h1>
        <div class="grid grid-cols-3 gap-4">
            <div class="w-full py-3 px-8 flex flex-row justify-center hover:bg-slate-200 cursor-pointer items-center bg-slate-50 rounded-md">
                <div class="flex-rgic text-sm">
                    <img class="h-4" src="../../../assets/safelogo.png" alt="" srcset="">
                    <div class="text-slate-500">0x49F...CeA06</div>
                </div>
            </div>
            <div class="w-full py-3 px-8 flex flex-row justify-center hover:bg-slate-200 cursor-pointer items-center bg-slate-50 rounded-md">
                <div class="flex-rgic text-sm">
                    <img class="h-4" src="../../../assets/safelogo.png" alt="" srcset="">
                    <div class="text-slate-500">0x49F...CeA06</div>
                </div>
            </div>
        </div>
       
    </div>
</div>