<div class="grid grid-cols-1 mt-2 card-body !p-0">

    <div class="grid grid-cols-12">

        <div (click)="copyAddress(derivedWallet)"
            class="border-b group relative border-r border-rose-100 z-50 flex flex-row items-center justify-center hover:text-rose-400 text-slate-500 cursor-pointer hover:bg-rose-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75" />
            </svg>

            <div *ngIf="tooltipText$ | async as text" class="absolute hidden group-hover:flex group-hover:opacity-80 backdrop-blur-[2px] font-medium opacity-0 transition-all w-24
             bg-gray-600 top-8 left-6 rounded-md uppercase px-3 py-1 text-[10px] text-center text-white">
                {{text}}
            </div>

        </div>

        <div class="relative h-full">
            <div (click)="toggleTagInput()"
            class="border-b group relative border-r h-full border-rose-100 flex
             flex-row items-center justify-center hover:text-rose-400 text-slate-500 cursor-pointer hover:bg-rose-50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
            </svg>              

            <div *ngIf="(addressTagInputToggled$ | async) === false" class="absolute hidden group-hover:flex group-hover:opacity-80 backdrop-blur-[2px] font-medium opacity-0 transition-all w-32
             bg-gray-600 top-8 left-6 rounded-md uppercase px-3 py-1 text-[10px] text-center text-white">
                Set address tag
            </div>

            

        </div>
            <div *ngIf="addressTagInputToggled$ | async" class="fixed bg-white rounded-b-md border z-[200] w-96
             top-12 left-[3.9rem] flex flex-row justify-between gap-x-2">
                <input [formControl]="addressTagInputForm" class="pl-4 py-3 outline-none rounded-bl-md w-full text-sm" type="text" placeholder="Tag" name="" id="">
                <button (click)="setAddressTag()" [disabled]="!addressTagInputForm.valid" class="flex flex-row items-center cursor-pointer justify-center app-button my-2 mr-2 !rounded-md px-4 text-xs">Set</button>
            </div>
        </div>

        <div class="relative h-full">
            <div (click)="refreshData()"
            class="border-b group relative border-r h-full border-rose-100 flex
             flex-row items-center justify-center hover:text-rose-400 text-slate-500 cursor-pointer hover:bg-rose-50">
             <svg [class.animate-spin]="(isRefreshingData$ | async)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
              </svg>
                           

            <div *ngIf="(addressTagInputToggled$ | async) === false" class="absolute hidden group-hover:flex group-hover:opacity-80 backdrop-blur-[2px] font-medium opacity-0 transition-all w-32
             bg-gray-600 top-8 left-6 rounded-md uppercase px-3 py-1 text-[10px] text-center text-white">
                Refresh data
            </div>

            

        </div>
            <div *ngIf="addressTagInputToggled$ | async" class="fixed bg-white rounded-b-md border z-[200] w-96
             top-12 left-[3.9rem] flex flex-row justify-between gap-x-2">
                <input [formControl]="addressTagInputForm" class="pl-4 py-3 outline-none rounded-bl-md w-full text-sm" type="text" placeholder="Tag" name="" id="">
                <button (click)="setAddressTag()" [disabled]="!addressTagInputForm.valid" class="flex flex-row items-center cursor-pointer justify-center app-button my-2 mr-2 !rounded-md px-4 text-xs">Set</button>
            </div>
        </div>
        
        

        <div (click)="toggleVisibility()" class="col-span-9 px-5 flex flex-row hover:bg-rose-50 
        cursor-pointer text-slate-500 text-sm rounded-tr-md items-center
         justify-between py-3 border-b border-rose-100">
            <div *ngIf="tag$ | async as tag; else noTagWallet">
                <span class="font-semibold text-slate-700">{{tag.tag}}</span> ({{derivedWallet | shorten:8:6}})
            </div>
            <ng-template #noTagWallet>
                <div class="">
                    {{derivedWallet}}
                </div>
            </ng-template>
            
            <div class="text-rose-600">
                <svg *ngIf="isCollapsed$ | async;else upCaret" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6 cursor-pointer">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                </svg>
                <ng-template #upCaret>

                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                        stroke="currentColor" class="w-6 h-6 cursor-pointer">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 15.75l7.5-7.5 7.5 7.5" />
                    </svg>


                </ng-template>
            </div>
        </div>

    </div>

    <div *ngIf="(isCollapsed$ | async) === false" class="">

        


        <div class="grid grid-cols-8 -mx-2 text-slate-700 px-4 py-2">

            <div class="w-full mb-2 mt-2 col-span-8 px-2 flex flex-row text-slate-500
                justify-start items-center text-xs font-medium gap-x-3">
                <input [formControl]="showOnlyVerified" type="checkbox">

                <div>Show only known tokens</div>
            </div>

            <input [formControl]="searchQuery"
            class="col-span-8 border py-3 px-4 rounded-md mx-2 !outline-none font-medium text-sm bg-transparent" 
            placeholder="Search by name, symbol or address" type="text" name="" id="">


            <div class="w-full col-span-8">
                <app-deployed-networks-status-container [derivedWallet]="derivedWallet"></app-deployed-networks-status-container>
            </div>



            <!-- HEADER -->
            

            <!-- END HEADER -->



            <div *ngIf="portfolio$ | async as portfolio; else noItems" class="flex flex-col col-span-8">

                <div class="col-span-8 grid px-2 grid-cols-12 mb-2 mt-4">
                    <div class="col-span-4 text-sm uppercase text-slate-500">
                        Asset
                    </div>
    
                    <div class="col-span-3 text-start text-sm uppercase text-slate-500">
                        Type
                    </div>
    
                    <div class="col-span-3 text-sm text-start uppercase text-slate-500">
                        
                    </div>
                </div>

                <div *ngIf="nativeTokenBalance$ | async as native">
                    <div class="grid grid-cols-12 px-2 py-2 items-center text-sm" *ngFor="let result of native">
                        <div class="col-span-4 flex flex-row items-center">
                            <img class="h-9 w-9 bg-white p-2 rounded-full border" 
                            src="../../../../assets/networks/{{result?.logoUri}}" alt="" srcset="">
                            <div class="col-span-3 flex flex-col pl-4">
                                <div class="text-base">
                                    {{result?.displayBalance}}
                                </div>
                                <div class="font-medium -mt-1 text-slate-500">
                                    {{result?.token}}
                                </div>
                            </div>
                        </div>
                        <div class="col-span-3 uppercase font-medium">
                            Native
                        </div>
                        
                        
                    </div>
                </div>
                <div *ngFor="let item of portfolio">
                        <app-single-portfolio-asset-container *ngIf="item !== undefined" 
                            [contractAddress]="item.contractAddress"
                            [wallet]="derivedWallet"
                            [rawBalance]="item.tokenBalance"
                            [search]="searchQuery.value"
                            [addressSalt]="salt"
                            [onlyVerified]="showOnlyVerified.value"
                            [chainID]="item.chainID"></app-single-portfolio-asset-container>

                </div>
            </div>


            <ng-template #noItems>
                <div class="w-full col-span-8 gap-x-3 flex flex-row text-sm items-center justify-center py-8 uppercase text-slate-500">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636" />
                          </svg>                          
                    </div>
                    <div>
                        No assets detected.
                    </div>
                </div>
            </ng-template>


        </div>


    </div>

</div>