@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');


* {
    font-family: 'Source Sans 3', sans-serif;
    @apply !tracking-wider
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.card-header-title {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-rose-600 to-fuchsia-700 font-bold text-xl
}

.card-body {
    @apply bg-[rgba(255,255,255,0.6)] backdrop-blur-[2px] border
     lg:p-8 p-4 rounded-lg bg-white lg:mx-0 mx-4;
    box-shadow: 0px 2px 4px rgba(22,22,26,0.02);
    border: 1px solid #edeeef;
}

.app-button {
    @apply bg-gradient-to-r from-rose-600 to-fuchsia-700 text-white rounded-md font-bold hover:from-rose-700 hover:to-fuchsia-800
    transition-all disabled:from-slate-300 disabled:to-slate-300 tracking-wide
}

.flex-rgic {
    @apply flex flex-row items-center gap-x-2
}

.app-gradient-bg {
    @apply bg-gradient-to-r from-rose-600 to-fuchsia-700
}